@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap');

/* MOBILE ONLY */

@media only screen and (max-width: 768px) {
  /* GENERAL STYLES */

  body {
    margin: 0;
  }

  .defaultFontFamily {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  #headerSection {
    background-image: url("./media-library/headerbg.png");
    background-size: cover;
    background-color: #e5e5e5;
    min-height: 750px;
    display: grid;
    grid-template-columns: auto;
    box-sizing: border-box;
    max-width: 768px;
  }

  ul {
    padding: 0;
  }

  .links {
    text-decoration: none;
    color: #6070ff;
  }

  /* NAV SECTION */

  #navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
  }

  .navItems {
    flex: 50%;
  }

  #logoContainer {
    flex-direction: row;
    align-items: center;
  }

  #logo {
    width: 76px;
    height: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  #menuiconContainer {
    text-align: right;
  }

  /* ABOUT & ABOUT SELF SECTION */
  #aboutContainer {
    background-size: cover;
    height: 587.15px;
    display: flex;
    align-content: center;
    flex-direction: column;
    gap: 0;
    padding: 10px 24px;
  }

  #aboutSelfContainer {
    display: grid;
    grid-template-columns: auto;
    padding: 0 24px;
    padding-top: 100px;
    background-image: url("./media-library/Base.png");
    height: 1050px;
    background-size: cover;
    background-color: #e5e5e5;
  }

  .aboutTitles {
    font-weight: 700;
    font-size: 35px;
    line-height: 52px;
    color: #172b4d;
    width: 327px;
    height: 190px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  #aboutSelfTitle {
    font-size: 30px;
    line-height: 40px;
    height: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }

  .summaries {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 327px;
    padding: -20px;
  }

  .socialsContainers {
    color: #7f8cff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .socialIcons {
    padding-right: 17px;
    text-decoration: none;
    display: inline;
  }

  /* WORK SECTION */
  .workSection {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 88px;
    padding: 114px 0;
    background-color: #e5e5e5;
    align-content: center;
    align-items: center;
  }

  .workSamples {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 327px;
    border: 1px solid #dfe1e6;
    margin: 0 auto;
  }

  .workImages {
    width: 295px;
    height: 220px;
  }

  .workContents {
    display: flex;
    flex-direction: column;
  }

  .workTitles {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    color: #172b4d;
  }

  .workMetadatas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .inactiveCategories {
    color: #7a869a;
  }

  .workDescriptions {
    height: 76px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .workCTAs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    justify-items: center;
  }

  .workTags li {
    text-decoration: none;
    display: inline;
    padding: 5px 12px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  a .workTags {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  a {
    text-decoration: none;
    color: #396df2;
  }

  .workBtns {
    padding: 26px;
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 12px;
    width: 58%;
    height: 24px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    text-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .workBtns:hover {
    background-color: #6070ff;
    color: #fff;
  }

  a.workBtns:hover {
    color: #fff;
  }

  /* EXPERIENCE SECTION */
  #experienceSection {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .inactiveExpTabs {
    border-bottom: 1px solid #dfe1e6;
  }

  .experienceTitles {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
    flex: 70%;
  }

  .tabHeads {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .tabIcons {
    width: 50%;
    text-align: right;
    padding: 30px;
  }

  .subTabs {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-content: center;
    text-decoration: none;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
  }

  .subTabsTexts {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
    padding-left: 10px;
  }

  /* CONTACT SECTION */
  .contactFormSection {
    background-image: url("./media-library/Contact-me.png");
    height: 950px;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 24px;
  }

  .formHeadingContainer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 114px;
  }


  .formHeadingContainer h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
   }

  .formHeadingContainer p{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
  }
}
